<!-- 名称案例 -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../lib/vue.js"></script>
  <script src="../lib/vue-resource.js"></script>
  <script src="../lib/vue-router.js"></script>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
</head>
<body>
<div id="app">
  <input type="text" v-model="firstname"> +
  <input type="text" v-model="lastname"> =
  <input type="text" v-model="fullname">
</div>
</body>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      firstname: '',
      lastname: ''
    },
    methods: {},
    watch: {
//      监视data中指定数据的变化，然后触发watch中对应的function处理函数
//      firstname (newVal, oldVal) {
//        this.fullname = this.firstname + this.lastname
//      }
    },
    computed: {
//      可以定义计算属性，本质是一种方法，但使用时直接当作属性来使用
      'fullname' () {
//        function内部用到的data发生变化就会调用
        return this.firstname + this.lastname
      }
    }
  })
</script>
</html>