<!-- 简易计算器 -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../lib/vue.js"></script>
</head>
<body>
<div id="app">
  <input type="text" v-model="n1">

  <select v-model="opt">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>

  <input type="text" v-model="n2">

  <input type="button" value="=" @click="compute">

  <input type="text" v-model="result">
</div>
</body>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      n1: 0,
      n2: 0,
      result: 0,
      opt: '+'
    },
    methods: {
      compute () {
//        switch (this.opt) {
//          case '+' :
//            this.result = parseInt(this.n1) + parseInt(this.n2);
//          break;
//          case '-' :
//            this.result = parseInt(this.n1) - parseInt(this.n2);
//          break;
//          case '*' :
//            this.result = parseInt(this.n1) * parseInt(this.n2);
//          break;
//          case '/' :
//            this.result = parseInt(this.n1) / parseInt(this.n2);
//          break;
//        }
        var codeStr = 'parseInt(this.n1) ' + this.opt + ' parseInt(this.n2)'
        this.result = eval (codeStr)
      }
    }
  })
</script>
</html>