<!-- v-for -->
<!-- 在2.2.0+ 的版本里，当在组件中使用v-for时，key是必须的 -->
<!-- 当Vue.js用v-for正在更新已渲染过的元素列表时，它默认用“就地复用”
     策略。如果数据项的顺序被改变，Vue将不是移动Dom元素来匹配数据项的顺序，
     而是简单复用此处每个元素，并且确保它在特定索引下显示已被渲染过的每个元素

     为了给Vue一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素，
     需要为每项提供一个唯一key属性
 -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../lib/vue.js"></script>
</head>
<body>
<div id="app">
  <p v-for="(item, i) in list">{{ i }} -- {{ item }}</p>

  <p v-for="user in objlist">{{ user.id }} -- {{ user.name }}</p>

  <!-- 在遍历对象身上的键值对时，除了有 val key ，在第三个位置还有索引 -->
  <p v-for="(val, key) in user">{{ val }} -- {{ key }}</p>

  <span v-for="count in 10">{{ count }}</span>

  <div>
    <label>ID:
      <input type="text" v-model="id">
    </label>
    <label>Name:
      <input type="text" v-model="name">
    </label>
    <input type="button" value="添加" @click="add">

    <!-- 注意v-for 循环时，key属性只能使用string/number -->
    <p v-for="item in problem" :key="item.id">
      <input type="checkbox">
      {{ item.id }} -- {{ item.name }}
    </p>
  </div>


</div>
</body>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      list: [1, 2, 3, 4, 5],
      objlist: [
        { id:1, name: 'zs1'},
        { id:2, name: 'zs2'},
        { id:3, name: 'zs3'},
        { id:4, name: 'zs4'}
      ],
      user: {
        id: 1,
        name: 'ssh',
        sex: '男'
      },
      problem: [
        { id: 1, name: 'ls' },
        { id: 2, name: 'mmp' },
        { id: 3, name: 'silite' },
        { id: 4, name: 'git'}
      ],
      id: '',
      name: ''
    },
    methods: {
      add () {
//        this.problem.push({ id: this.id, name: this.name})

//        会加在数组前，不加key的bug为勾选4的话添加一组数据，会变成勾选3
        this.problem.unshift({ id: this.id, name: this.name})
      }
    }
  })
</script>
</html>